@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 700;
   src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf) format('opentype');
 }
html,body {
  width: 100%;
  height: 100%;
  text-align: center;
  
}
body {
  overflow: hidden;
  background-color: #88B04B;
  font-family: 'Noto Sans TC','Microsoft JhengHei', sans-serif;
  font-family: Microsoft JhengHei;
/*  cursor: url(../images/c.png), default;*/
}
body.init>*{
  display: none;
}
#loading{
  display: none;
}
body.init #loading{
  display: block;
  margin: 0 auto;
  width: 40vw;
  position: relative;
  line-height: 100vh;
  top: 10vw;
}
#seed{
  height: 100%;
  width: 100%;
  position: fixed;
}
#seed .body_left{
  display: inline-block;
  height: 100%;
  text-align: right;
  position: absolute;
  left: 0;
}
#seed .body_left>img{
  height: 100%;
  position: relative;
  z-index: 5;
}
#left_hand{
  position: absolute;
  width: 25vh;
  top: 10vh;
  right: 9vh;
/*  z-index: 15;*/
}
#left_hand img{
  width: 100%
}

#seed .body_left .left_ting{
  position: absolute;
  width: 8vh;

}
#seed .body_left .left_ting img{
  width: 100%;
  left: -8vh;
  top: -12vh;
  position: relative;
}

#seed .body_center{
  display: inline-block;
  height: 100%;
  background-color: #ffffff;
}
#seed .body_right{
  display: inline-block;
  height: 100%;
  text-align: left;
  position: absolute;
  right: 0;
}
#seed .body_right>img{
  height: 100%;
  position: relative;
  z-index: 5;
}
#seed .body_right .area{
  position: absolute;
  width: 10vh;
  height: 5vh;
  left: 23vh;
  top: 28vh;
  text-align: center;
  z-index: 10;
}
#seed .body_right .area .jump{
  display: inline-block;
  width: 7vh;
}
#seed .body_right .area ._top{
  display: inline-block;
  width: 7vh;
  cursor: pointer;
}
#seed .body_right .area .music{
  display: inline-block;
  width: 3vh;
  position: relative;
  top: 3px;
}
#seed .body_outer{
  z-index: 15;
}
#seed .body_outer .logo{
  left: 2%;
  bottom: 12%;
  position: absolute;
}
#seed .body_outer .logo .logo_img{
  width: 14vh;
}
#seed .body_outer .logo .logo_txt{
  margin-top: 5vh;
  font-size: 1.8vh;
  color: #ffffff;
  position: relative;
  left: 8px;
  font-weight: bold;
/*  width: 20vh;*/
}
#seed .body_outer .logo .logo_txt::before{
  content: "";
  position: absolute;
  width: 104%;
  left: -2%;
  top: 103%;
  height: 2vh;
  background-image: url(../images/wave.gif);
  background-repeat: no-repeat;
  background-size: contain; 
}
#seed .body_outer .nav{
  position: absolute;
  right: 4%;
  bottom: 4%;
  z-index: 15;
}

#seed .body_outer .nav>div{
  width: 1vh;
  height: 7vh;
  background-color: #B9DE7E;
  margin-bottom: 5px;
  border-radius:10px;
  cursor: pointer;
}
#seed .body_outer .nav>div.active{
  background-color: #DAFC9F;
}
#seed .body_outer .hamburgers{
  width: 50px;
  position: absolute;
  right: 4%;
  top: 4%;
  margin-right: -5px;
  cursor: pointer;
  z-index: 20
}
#seed .body_outer .ribbon{
  margin-bottom: -3px;
}
#seed .body_outer .hamburgers .ribbon img{
  width: 100%;
}
#seed .body_outer .hamburgers .line{
  width: 100%;
  height: 6px;
  background-color: #ffffff;
  margin-bottom: 5px;
}

#main{
  height: 100%;
  margin: 0 auto;
  dis/play: none;
}
#main .section{
  position: relative;
  width: 100%;
  height: 100%;
  text-align:left;
}
#main .section:nth-child(1){
  
}
#main .main_title{
  position: relative;
  top: 15vh;
}
#main .main_title .t1{
  font-size: 6vh;
  color: #88B04B;
  display: inline-block;
  position: relative;
}
#main .main_title .t1 .small{
  font-size: 5vh;
}

#main .main_title .t1::before{
  content: "";
  position: absolute;
  width: 104%;
  left: -2%;
  top: 103%;
  height: 2vh;
  background-image: url(../images/wave2.gif);
  background-repeat: no-repeat;
  background-size: contain;
  
}
#main .main_title .t2{
  display: inline-block;
  color: #88B04B;
  font-size: 2.2vh;
  margin-left: 1.3vh;
}
#main .main_title .t3{
  display: inline-block;
  color: #88B04B;
  font-size: 3.3vh;
  margin-left: 1.3vh;
  font-weight: bold;
}
.section5_parent{
  position: relative;
  height: 60%;
  top: 25vh;
  width: 100%;
}
#section5_page{
  position: relative;
  z-index: 25;
  width: 100px;
  left: 5vh;
  top: 1vh;
}
#section5_page .page{
  font-size: 4vh;
  position: relative;
  top: -2.5vh;
}
#section5_page .page_line{
  position: absolute;
    width: 15vh;
    left: -6vh;
    top: 5.5vh;
  transform:rotate(-35deg);
  display: inline-block;
  border-bottom: 1px solid #000000;
}
#section5_page .total{
  font-size: 7vh;
  position: relative;
  bottom: -3.5vh;
}
#mask{
  position: absolute;
  width: 82%;
  left: 49%;
  top: -1%;
  margin-left: -40%;
  z-index: 10;
  height: 102%;
}
#section5{
  margin : 0 auto;
  width: 80%;
  height: 100%;
  white-space: nowrap;
  letter-spacing: -4px;
  font-size: 0;
  overflow: hidden;
  position:absolute;
  top:50%;
  left:50%;
  -ms-transform: translate(-50%, -50%); /* IE 9 */
  -webkit-transform: translate(-50%, -50%); /* Safari */
   transform: translate(-50%, -50%);
}
#section5>div{
  	width: 100%;
    height: 100%;
    letter-spacing: normal;
    display: inline-block;
    *display: inline;
    zoom: 1;
    font-size: 1rem;
}
.changeSection.prev {
   position: absolute;
   top: 50%;
   left: 0px;
   width: 8%;
   margin-top: -5%;
   z-index: 20;
 }  
.changeSection.next {
  position:absolute;
  top: 50%;
  right: 0;
  width: 8%;
  margin-top: -5%;
  z-index: 20
}
.changeSection img{
  width: 100%;
}
#main .section{
  text-align:left;
}
#main .section:nth-child(2){
  
}
#main .section:nth-child(2) .container1{
  margin-top: 5vh;
}
#main .section:nth-child(2) .container1 .left{
  font-size: 1.85vh;
  color: #88B04B;
  width: 50%;
  line-height: 5vh;
  font-weight: bold;
  font-family: Microsoft JhengHei;
  float: left;
  letter-spacing: 3px;
  max-height: 40vh;
  overflow: hidden;
}
#main .section:nth-child(2) .container1 .right{
  width: 50%;
  float: right;
  text-align: right;
}
#main .section:nth-child(2) .container1 .right img{
  width: 90%;
  position: relative;
  top: -2vh;
}

#main .section:nth-child(2) .container2{
  margin-top:15px;
}
#main .section:nth-child(2) .container2 .left{
  width: 50%;
  position: relative;
  float: left;
}
#main .section:nth-child(2) .container2 .right{
  width: 50%;
  position: relative;
  float: right;
  text-align: center;
}
#main .section:nth-child(2) .container2 .left img{
  width: 14vh;
}
#main .section:nth-child(2) .container2 .right img{
  width: 50vh;
  position: relative;
  left: 4vh;
}
.left_child{
  height: 30vh;
  position: relative;
}
#a1{
  position: absolute;
  left: 54%;
  top: 13%;
}
#a2{
  position: absolute;
  left: 34%;
  top: 33%;
}
#a3{
  position: absolute;
  left: 14%;
  top: 43%;
}
#a4{
  position: absolute;
  left:24%;
  top: 13%;
}
#a5{
  position: absolute;
  left: 60%;
  top: 55%;
}
#a6{
  position: absolute;
  left: 74%;
  top: 43%;
}
#a7{
  position: absolute;
  left: 14%;
  top: 73%;
}

#main .section:nth-child(2) .container2 .right{
  width: 50%;
  position: relative;
}
#main .section:nth-child(3){
/*
  background-color: green;
  opacity: .5;
*/
}
.product_img{
  width: 100%;
  margin-top: 4vh;
  display: table;
}
.product_img>div{
  display: table-row;
}
.product_img>div>div{
  display: table-cell;
  width: 33%;
  padding-top: 2vh
}
.product_img img{
  width: 95%;;
}
.kk_parent{
  margin-top: 5vh;
  font-size: 3vh;
  color: #88B04B;
  font-weight: bold;
}
.kk{
  position: relative;
  margin-bottom: 2vh;
}
.kk .left{
  float: left;
  width: 15%;
}
.kk .right{
  float: left;
  width: 75%;
}


#main .section:nth-child(4){
/*
  background-color: darkorange;
  opacity: .5;
*/
}
#main .section:nth-child(4) .map{
  margin-top: 25px;
}


.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
